<i18n>
{
  "en": {
    "title": "Select program",
    "button-next-text": "More"
  },
  "ru": {
    "title": "Выбор программы",
    "button-next-text": "Подробнее"
  },
  "uk": {
    "title": "Вибір програми",
    "button-next-text": "Далі"
  }
}
</i18n>

<template>
  <main class="order">
    <header class="order_header">
      <a class="order_header-back" @click="goBack"
        ><fa-icon :icon="['fas', 'chevron-left']"
      /></a>
      <h2 class="order_header-title"></h2>
    </header>

    <section v-if="extracts" class="order_section">
      <article v-for="(service, i) in extracts" :key="i" class="service">
        <silent-box
          class="service-img"
          :gallery="[{ src: service.promo_url }]"
        ></silent-box>
        <div class="service_desc">
          <h2 class="service-title">{{ service.title }}</h2>
          <p class="service-txt">
            {{ service.about_short }}
          </p>
          <nuxt-link
            :to="`${$route.params.show}/${service.id_string}/individual`"
            class="service-more"
            >{{ $t('button-next-text') }}</nuxt-link
          >
        </div>
      </article>
    </section>

    <section-sidebar :contacts="contacts" :is-phone-icon="false" />
  </main>
</template>

<script>
export default {
  async asyncData({ i18n, route, $axios }) {
    // region async data
    const contacts = await $axios.$get('/api/contacts')
    const currentShow = await $axios.$get(
      `/api/show/individual/${route.params.show}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )
    const extracts = await $axios.$get(
      `/api/extracts/by-individual-show/${route.params.show}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )
    // endregion

    return {
      contacts,
      currentShow,
      extracts,
    }
  },
  data() {
    return {
      formData: {
        name: '',
        phone: '',
        email: '',
        address: '',
        date: '',
        time: '',
        comment: '',
      },
    }
  },
  // head() {
  //   return {
  //     title: this.currentShow.page_head.title,
  //     meta: [
  //       // hid is used as unique identifier. Do not use `vmid` for it as it will not work
  //       {
  //         hid: 'description',
  //         name: 'description',
  //         content: this.currentShow.page_head.desc,
  //       },
  //     ],
  //   }
  // },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
    async submit(formData) {
      const body = new FormData()
      body.append('price', this.resultPrice)
      for (const key in formData) {
        body.append(key, formData[key])
      }
      await this.$axios.$post('/api/send-mail', {
        data: body,
        headers: { 'Content-Type': 'multipart/form-data' },
      })
    },
  },
}
</script>

<style src="assets/pages/order.scss" lang="scss" scoped></style>
