<i18n>
{
  "en": {
    "currency": "uah",
    "title": "Choise of extracts",
    "button-next-text": "To checkout",
    "button-add-text": "Select",
    "extract-more": "Details"
  },
  "ru": {
    "currency": "грн",
    "title": "Выбор дополнительных опций",
    "button-next-text": "К оформлению заказа",
    "button-add-text": "Добавить",
    "extract-more": "Подробнее"
  },
  "uk": {
    "currency": "грн",
    "title": "Вибір додаткових опцій",
    "button-next-text": "До оформлення заказу",
    "button-add-text": "Додати",
    "extract-more": "Детальніше"
  }
}
</i18n>

<template>
  <main class="extract">
    <header class="extract_header">
      <nuxt-link
        :to="
          localePath({
            name: 'show-program-variant',
            params: {
              show: currentVariant.show.id_string,
              program: currentVariant.program.id_string,
              variant: currentVariant.id_string,
            },
          })
        "
        class="extract_header-back"
        ><fa-icon :icon="['fas', 'chevron-left']"
      /></nuxt-link>
      <h2 class="extract_header-program">
        {{ currentVariant.program.id_string }}
      </h2>
      <h3 class="extract_header-title">{{ $t('title') }}</h3>
    </header>

    <ul data-id="extractList" class="extract_list">
      <li
        v-for="(extract, i) in extractsInCurrentShow"
        :key="i"
        class="extract_item"
        :class="{ selected: extract.is_selected }"
      >
        <silent-box
          class="extract-avatar"
          :gallery="[
            { src: extract.promo_url ? extract.promo_url : extract.avatar_url },
          ]"
        ></silent-box>
        <div class="extract_desc">
          <h2 class="extract-title">
            <span>{{ extract.name }}</span>
            <nuxt-link
              :to="
                localePath({
                  name: 'extracts-extract',
                  params: {
                    extract: extract.id_string,
                  },
                })
              "
              class="extract-more"
              @click.stop
              >{{ $t('extract-more') }}
            </nuxt-link>
          </h2>
          <p v-if="extract.price === 0" class="extract-price">
            Залежить від конструкції
          </p>
          <p v-else-if="extract.price < 0" class="extract-price">
            Від {{ extract.price }} {{ $t('currency') }}
          </p>
          <p v-else class="extract-price">{{ extract.price }} грн</p>
          <button
            v-if="!extract.is_selected"
            class="extract-select"
            @click="toggleExtract(extract.id_string)"
          >
            {{ $t('button-add-text') }}
          </button>
          <button
            v-else
            class="extract-selected"
            @click="toggleExtract(extract.id_string)"
          >
            <fa-icon :icon="['far', 'check-circle']" />
          </button>
        </div>
      </li>
    </ul>

    <nuxt-link
      :to="
        localePath({
          name: 'show-program-variant-order',
          params: {
            show: currentVariant.show.id_string,
            program: currentVariant.program.id_string,
            variant: currentVariant.id_string,
          },
        })
      "
      class="extract-order"
      @click.stop
      >{{ $t('button-next-text') }}
    </nuxt-link>

    <section-sidebar :contacts="contacts" />
  </main>
</template>

<script>
import mixinConstructor from '~/mixins/constructor'
import mixinColors from '~/mixins/colors'
export default {
  mixins: [mixinConstructor, mixinColors],
  async asyncData({ i18n, route, $axios, $cookiz }) {
    // region async data
    const currentVariant = await $axios.$get(
      `/api/show/${route.params.show}/programs/${route.params.program}/variants/${route.params.variant}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )

    let extractsInCurrentShow = await $axios.$get(
      `/api/extracts/by-show/${route.params.show}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )
    const extractsFromCookiz = $cookiz.get('saved-extracts')
    if (extractsFromCookiz) {
      extractsInCurrentShow = extractsInCurrentShow.map((extract) => {
        const findExtract = extractsFromCookiz.indexOf(extract.id_string)

        if (findExtract >= 0) {
          return {
            ...extract,
            is_selected: true,
          }
        } else {
          return {
            ...extract,
            is_selected: false,
          }
        }
      })
    } else {
      extractsInCurrentShow = extractsInCurrentShow.map((extract) => {
        return {
          ...extract,
          is_selected: false,
        }
      })
    }
    // endregion

    return {
      extractsInCurrentShow,
      currentVariant,
    }
  },
  methods: {
    saveExtractsToCookie() {
      const savedExtracts = this.extractsInCurrentShow
        .filter((extract) => {
          return extract.is_selected
        })
        .map((extract) => {
          return extract.id_string
        })
      this.$cookiz.set('saved-extracts', savedExtracts.join(';'))
    },
    toggleExtract(extractId) {
      this.extractsInCurrentShow.find((extract) => {
        if (extract.id_string === extractId) {
          extract.is_selected = !extract.is_selected
          return true
        } else {
          return false
        }
      })

      this.saveExtractsToCookie()
    },
  },
}
</script>

<style src="assets/pages/extracts.scss" lang="scss" scoped></style>
