<i18n>
{
  "en": {
    "title": "Choose number of performers",
    "artist": "Artist",
    "coin": "uah",
    "duration": "duration",
    "playground": "playground",
    "button-next-text": "Next"
  },
  "ru": {
    "title": "Выбор количества артистов",
    "artist": "Артист",
    "coin": "грн",
    "duration": "Длительность",
    "playground": "Площадка",
    "button-next-text": "Далее"
  },
  "uk": {
    "title": "Вибір кількості артистів",
    "artist": "Артист",
    "coin": "грн",
    "duration": "Тривалість",
    "playground": "Майданчик",
    "button-next-text": "Далі"
  }
}
</i18n>

<template>
  <main v-if="currentVariant" class="artists">
    <header class="artists_header">
      <nuxt-link
        :to="
          localePath({
            name: 'show-program',
            params: {
              show: currentVariant.show.id_string,
              program: currentVariant.program.id_string,
            },
          })
        "
        class="artists_header-back"
      >
        <fa-icon :icon="['fas', 'chevron-left']" />
      </nuxt-link>
      <h2 class="artists_header-program">
        {{ currentVariant.program.id_string }}
      </h2>
      <h3 class="artists_header-title">{{ $t('title') }}</h3>
    </header>

    <div class="artists-avatar">
      <img :src="currentVariant.avatar_url" alt="placeholder+image" />
    </div>

    <silent-box
      class="artists-promo"
      :gallery="[{ src: currentVariant.promo_url }]"
    ></silent-box>

    <block-par class="artists-desc" :text="currentVariant.about" />

    <nuxt-link
      :to="
        localePath({
          name: 'show-program-variant-extracts',
          params: {
            show: currentVariant.show.id_string,
            program: currentVariant.program.id_string,
            variant: currentVariant.id_string,
          },
        })
      "
      class="artists-select"
      >{{ $t('button-next-text') }}
    </nuxt-link>

    <ul class="artists_list desktop">
      <li
        v-for="(variant, i) in allVariants"
        :key="i"
        class="artists_item"
        :class="{ opened: variant.id_string === currentVariant.id_string }"
      >
        <nuxt-link
          :to="
            localePath({
              name: 'show-program-variant',
              params: {
                show: currentVariant.show.id_string,
                program: currentVariant.program.id_string,
                variant: variant.id_string,
              },
            })
          "
        >
          <div class="artists_item_main">
            <p class="artists_item-count">
              {{ variant.artist_count }} {{ $t('artist') }}
              <span v-if="variant.is_vip">(VIP)</span>
            </p>
            <p class="artists_item-price">
              {{ variant.price }} {{ $t('coin') }}
            </p>
          </div>
        </nuxt-link>
      </li>
    </ul>

    <ul class="artists_list">
      <li
        v-for="(variant, i) in allVariants"
        :key="i"
        class="artists_item"
        :class="{ opened: variant.id_string === currentVariant.id_string }"
      >
        <nuxt-link
          :to="
            localePath({
              name: 'show-program-variant',
              params: {
                show: currentVariant.show.id_string,
                program: currentVariant.program.id_string,
                variant: variant.id_string,
              },
            })
          "
        >
          <div class="artists_item_main">
            <p class="artists_item-count">
              {{ variant.artist_count }} {{ $t('artist') }}
              <span v-if="variant.is_vip">(VIP)</span>
            </p>
            <p class="artists_item-price">
              {{ variant.price }} {{ $t('coin') }}
            </p>
          </div>
          <div class="artists_item_extract">
            <silent-box
              class="artists_item-video"
              :gallery="[{ src: variant.promo_url }]"
            ></silent-box>
            <p class="artists_item-desc">
              {{ $t('duration') }}: {{ variant.duration }};
              {{ $t('playground') }}: {{ variant.playground }};
            </p>
          </div>
        </nuxt-link>
      </li>
    </ul>

    <section-sidebar :contacts="contacts" />
  </main>
</template>

<script>
import mixinConstructor from '~/mixins/constructor'
import mixinColors from '~/mixins/colors'
export default {
  mixins: [mixinConstructor, mixinColors],
  async asyncData({ i18n, route, $axios }) {
    // region async data
    const allVariants = await $axios.$get(
      `/api/show/${route.params.show}/programs/${route.params.program}/variants`
    )

    const currentVariant = await $axios.$get(
      `/api/show/${route.params.show}/programs/${route.params.program}/variants/${route.params.variant}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )
    // endregion

    return {
      allVariants,
      currentVariant,
    }
  },
  // head() {
  //   return {
  //     title: this.currentVariant.page_head.title,
  //     meta: [
  //       // hid is used as unique identifier. Do not use `vmid` for it as it will not work
  //       {
  //         hid: 'description',
  //         name: 'description',
  //         content: this.currentVariant.page_head.desc,
  //       },
  //     ],
  //   }
  // },
}
</script>

<style src="assets/pages/variants.scss" lang="scss" scoped></style>
