<i18n>
{
  "en": {
    "title": "Select program",
    "button-next-text": "Next"
  },
  "ru": {
    "title": "Выбор программы",
    "button-next-text": "Далее"
  },
  "uk": {
    "title": "Вибір програми",
    "button-next-text": "Далі"
  }
}
</i18n>

<template>
  <main class="order">
    <header class="order_header">
      <a class="order_header-back" @click="goBack"
        ><fa-icon :icon="['fas', 'chevron-left']"
      /></a>

      <h2 class="order_header-title">Оформлення заказу</h2>
    </header>

    <section class="order_section">
      <div class="order_message">
        <p class="order-text">
          Ціна:
          <span data-id="order_price">{{ resultPrice }}</span> грн
        </p>
        <p
          v-for="(extract, i) in extractsWithDynamicPrice"
          :key="i"
          class="order-text"
        >
          <span>+</span> {{ extract.name }}
        </p>
      </div>
      <form-order :result-price="resultPrice" @submit="submit" />
    </section>

    <section-sidebar :is-phone-icon="false" :contacts="contacts" />
  </main>
</template>

<script>
import mixinConstructor from '~/mixins/constructor'
import mixinColors from '~/mixins/colors'
export default {
  mixins: [mixinConstructor, mixinColors],
  async asyncData({ i18n, route, $axios, $cookiz }) {
    // region async data
    const currentVariant = await $axios.$get(
      `/api/show/${route.params.show}/programs/${route.params.program}/variants/${route.params.variant}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )

    const extractsInCurrentShow = await $axios.$get(
      `/api/extracts/by-show/${route.params.show}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )
    const extractsFromCookiz = $cookiz.get('saved-extracts')
    let selectedExtracts = []
    if (extractsFromCookiz) {
      selectedExtracts = extractsInCurrentShow.filter((extract) => {
        const findExtract = extractsFromCookiz.indexOf(extract.id_string)

        return findExtract >= 0
      })
    }
    // endregion

    return {
      selectedExtracts,
      currentVariant,
    }
  },
  data() {
    return {
      formData: {
        name: '',
        phone: '',
        email: '',
        address: '',
        date: '',
        tiem: '',
        comment: '',
      },
    }
  },
  computed: {
    extractsWithDynamicPrice() {
      return this.selectedExtracts.filter((extract) => {
        return extract.price <= 0
      })
    },
    extractsWithStaticPrice() {
      return this.selectedExtracts.filter((extract) => {
        return extract.price > 0
      })
    },
    resultPrice() {
      const variantPrice = this.currentVariant.price
      const extractPrice = this.extractsWithStaticPrice
        .map((extract) => extract.price)
        .reduce((middleValue, currentValue) => {
          return middleValue + currentValue
        }, 0)

      return parseInt(extractPrice) + parseInt(variantPrice)
    },
  },
  methods: {
    saveExtractsToCookie() {
      const savedExtracts = this.extractsInCurrentShow
        .filter((extract) => {
          return extract.is_selected
        })
        .map((extract) => {
          return extract.id_string
        })
      this.$cookiz.set('saved-extracts', savedExtracts.join(';'))
    },
    toggleExtract(extractId) {
      this.extractsInCurrentShow.find((extract) => {
        if (extract.id_string === extractId) {
          extract.is_selected = !extract.is_selected
          return true
        } else {
          return false
        }
      })

      this.saveExtractsToCookie()
    },
    async submit(formData) {
      const body = new FormData()
      body.append('price', this.resultPrice)
      body.append('extracts', JSON.stringify(this.selectedExtracts))
      for (const key in formData) {
        body.append(key, formData[key])
      }
      await this.$axios.$post('/api/send-mail', {
        data: body,
        headers: { 'Content-Type': 'multipart/form-data' },
      })
    },
  },
}
</script>

<style src="assets/pages/order.scss" lang="scss" scoped></style>
