<template>
  <form class="order_form" @submit.prevent>
    <div>
      <input
        v-model="$v.formData.name.$model"
        class="order-input"
        :class="{ error: $v.formData.name.$error }"
        type="text"
        required
        placeholder="Ім'я та Прізвище"
      />
    </div>
    <div>
      <input
        v-model="$v.formData.phone.$model"
        class="order-input"
        :class="{ error: $v.formData.phone.$error }"
        type="tel"
        required
        placeholder="Номер телефону"
      />
    </div>
    <input
      v-model="formData.email"
      class="order-input"
      type="email"
      placeholder="Електронна адреса"
    />
    <input
      v-model="formData.address"
      class="order-input"
      type="text"
      placeholder="Місце проведення"
    />
    <input
      v-model="formData.date"
      class="order-input"
      type="date"
      placeholder="Дата проведення"
    />
    <input
      v-model="formData.time"
      class="order-input"
      type="time"
      placeholder="Час проведення"
    />
    <textarea
      v-model="formData.comment"
      class="order-input textarea"
      rows="3"
      placeholder="Коментарій"
    ></textarea>
    <button class="order-button" @click="submit">Відправити</button>
  </form>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  props: {
    resultPrice: {
      required: false,
      type: Number,
      default() {
        return 0
      },
    },
  },
  data() {
    return {
      formData: {
        name: '',
        phone: '',
        email: '',
        address: '',
        date: '',
        time: '',
        comment: '',
      },
    }
  },
  validations: {
    formData: {
      name: {
        required,
      },
      phone: {
        required,
      },
    },
  },
  methods: {
    async submit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        alert(
          'ERROR! Пожалуйста проверьте, все ли Вы заполнили и попробуйте снова!'
        )
      } else {
        const show = this.$route.params.show
        const program = this.$route.params.program
        const variant = this.$route.params.variant
        const extracts = this.$cookiz.get('saved-extracts')

        const body = new FormData()

        for (const key in this.formData) {
          body.append(key, this.formData[key])
        }

        if (show) {
          body.append('show', show)
        }
        if (program) {
          body.append('program', program)
        }
        if (variant) {
          body.append('artists', variant)
        }
        if (extracts) {
          body.append('extracts', extracts)
        }
        if (this.resultPrice) {
          body.append('price', this.resultPrice)
        }

        try {
          await this.$axios.$post('/api/send-mail', body, {
            headers: { 'Content-Type': 'multipart/form-data' },
          })

          this.$router.push('/thanks')
        } catch (e) {
          console.error(e)
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.order {
  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);

    & > div {
      position: relative;
      width: 100%;

      &:not(:first-child) {
        margin-top: 10px;
      }

      &::after {
        content: '*';
        position: absolute;
        top: 50%;
        left: -15px;
        font-size: 22px;
        font-weight: 600;
        color: red;
        transform: translateY(-50%);
      }
    }
  }

  &-video {
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 991px) {
      grid-area: video;
      padding: 0;
    }

    &::v-deep a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: {
        width: 1px;
        style: solid;
        color: var(--program-color-primary);
      }
      width: 70% !important;
      height: 100%;
      overflow: hidden;
      object-fit: contain;
    }

    &::v-deep img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 120%;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      font-size: 42px;
      color: var(--program-color-primary);
    }
  }

  &-input {
    border: {
      width: 1px;
      style: solid;
      color: var(--program-color-primary);
    }
    padding-left: 5px;
    width: 100%;
    min-height: 40px;
    background-color: #444343;
    color: #fff;
    font-size: 16px;

    @media screen and (min-width: 991px) {
      width: 40vw;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }

    &.textarea {
      max-height: 100px;
      resize: vertical;
    }
  }

  &-button {
    margin-top: 20px;
    padding: 15px 5px;
    border-radius: 12px;
    width: 100%;
    background-color: var(--program-color-primary);
    color: var(--program-color-colorful);
    cursor: pointer;
  }
}
</style>
