<template>
  <ul class="accordion">
    <li
      v-for="(item, i) in propList"
      :key="i"
      class="accordion_item"
      :class="{ opened: item.isOpen }"
    >
      <button
        class="accordion-toggle"
        @click="toggleItem(item.id, item.isOpen)"
      >
        {{ item.title }}
        <span v-if="!item.isOpen" class="accordion-toggle-icon">+</span>
        <span v-else class="accordion-toggle-icon">-</span>
      </button>
      <block-par class="accordion-text" :text="item.text" />
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      required: true,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      propList: this.list.map((item) => {
        return {
          ...item,
          isOpen: false,
        }
      }),
    }
  },
  methods: {
    openItem(itemId) {
      this.propList = this.propList.map((item) => {
        if (item.id === itemId) {
          return {
            ...item,
            isOpen: true,
          }
        } else {
          return {
            ...item,
            isOpen: false,
          }
        }
      })
    },
    closeItem(itemId) {
      this.propList = this.propList.map((item) => {
        if (item.id === itemId) {
          return {
            ...item,
            isOpen: false,
          }
        } else {
          return item
        }
      })
    },
    toggleItem(itemId, itemIsOpen) {
      if (itemIsOpen) {
        this.closeItem(itemId)
      } else {
        this.openItem(itemId)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.accordion {
  display: flex;
  flex-direction: column;

  &_item {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &.opened {
      .accordion-text {
        max-height: 100vh;
      }
    }
  }

  &-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 1em;
    background-color: #bebebe;
    text-align: left;
  }

  &-text {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s;
  }
}
</style>
