<template>
  <div class="par">
    <p
      v-for="(chunk, i) in parList"
      :key="i"
      class="par-chunk"
      v-html="chunk"
    ></p>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true,
      default() {
        return ''
      },
    },
  },
  computed: {
    parList() {
      const textArr = this.text.split('|')
      // const regex = /Dog/i
      // console.log(p.replace(regex, 'ferret'))
      return textArr
    },
  },
}
</script>

<style lang="scss" scoped>
.par {
  &-chunk {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
</style>
