.addition {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: $height-header-mobile calc(100vh - 5vh - 8vh - 2vh - 1vh) $height-footer-mobile;
  grid-template-areas: 'header' 'main' 'navbar';
  grid-row-gap: 2vh;
  height: 100vh;
  width: 100vw;
  background-color: $bg-primary;
  font-family: $font-family;

  @media screen and (min-width: 991px) {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 'header'
                         'main';
    grid-row-gap: 0;
  }

  $padding-side-mobile: 10px;

  $extract-color-unselect: #444343;
  $extract-color-selected: #2fc20a;

  &_header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-column-gap: 20px;
    align-items: center;
    padding: 0 $padding-side-mobile;
    color: $light;
    font-size: 16px;

    @media screen and (min-width: 991px) {
      grid-area: header;
    }
  }

  &-back {
    color: $light;
  }

  &-title {
    justify-self: end;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &_main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto) 1fr;
    grid-template-areas: 'avatar' 'info' 'desc';
    grid-row-gap: 10px;
    justify-items: center;
    padding: 0 15px;
    color: $light;

    @media screen and (min-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 2fr;
      grid-template-areas: 'avatar info' 'avatar desc';
      grid-gap: 10px;
      justify-items: start;
    }
  }

  &-avatar {
    grid-area: avatar;
    display: flex;
    width: 70%;
    height: auto;

    @media screen and (min-width: 991px) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_title {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-name {
    text-align: center;
    @media screen and (min-width: 991px) {
      text-align: left;
    }
  }

  &-desc {
    grid-area: desc;
    overflow: auto;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    background-color: lightgrey;
    box-shadow: 0px -5px 2px rgba(255, 255, 255, 0.59);
    text-align: center;
    font-size: 20px;
    color: $dark;

    @media screen and (min-width: 991px) {
      text-align: left;
    }
  }

  ::v-deep .navbar {
    grid-area: navbar;

    @media screen and (min-width: 991px) {
      grid-area: navbar;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      justify-items: center;
      margin-top: 10vh;
      border: none;
      border-radius: 0;
      width: auto;
      height: 90vh;
      transform: translateX(0);
    }

    &_main {
      @media screen and (min-width: 991px) {
        flex-direction: column;
      }
    }

    &_socialList {
      @media screen and (min-width: 991px) {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
      }

    }

    &-socialItem {
      @media screen and (min-width: 991px) {
        margin-right: 0;
      }
    }

    &-phone {
      @media screen and (min-width: 991px) {
        border-left: none;
        border-top: {
          width: 1px;
          style: solid;
          color: $light;
        }
        padding-top: 10px;
        padding-left: 0;
      }
    }

    &_extract {
      @media screen and (min-width: 991px) {
        position: relative;
      }
    }

    &_langList {
      @media screen and (min-width: 991px) {
        position: absolute;
        top: 20px;
        right: -10px;
        padding: 10px;
        background-color: $light;
        transform: translate(100%, -100%);
      }
    }
  }
}
