.extract {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: $height-header-mobile 75vh 10vh $height-footer-mobile;
  grid-template-areas: 'header' 'list' 'order' 'navbar';
  grid-row-gap: 1vh;
  height: 100vh;
  width: 100vw;
  background-color: $bg-primary;
  //background-image: url('~static/img/back2.jpeg');
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;
  font-family: $font-family;

  @media screen and (min-width: 991px) {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 'header'
		'extract'
		'order';
    grid-row-gap: 0;
    background-position: bottom;
    background-size: contain;
  }

  $padding-side-mobile: 10px;

  $extract-color-unselect: #444343;
  $extract-color-selected: #2fc20a;

  &_header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1em 1fr;
    align-items: center;
    padding: 0 $padding-side-mobile;
    color: $light;

    @media screen and (min-width: 991px) {
      grid-area: header;
      grid-template-columns: 1em 1fr auto;
    }

    &-back {
      color: $light;
    }

    &-program {
      display: none;
      justify-self: center;
      font-family: 'Freshman', sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;

      @media screen and (min-width: 991px) {
        display: block;
      }
    }

    &-title {
      justify-self: end;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }


  // LIST
  &_list {
    grid-area: list;
    margin-top: 20px;
    padding: 0 $padding-side-mobile;
    overflow: auto;

    @media screen and (min-width: 991px) {
      grid-area: extract;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      padding: 0 5vw;
    }
  }

  &_item {
    display: grid;
    grid-template-columns: 3fr 3fr;
    width: 100%;

    @media screen and (min-width: 991px) {
      margin-left: 1%;
    }

    &:not(:first-child) {
      margin-top: 10px;
      @media screen and (min-width: 991px) {
        margin-top: 0;
      }
    }

    &.selected .extract-avatar {
      border-color: $extract-color-selected;
    }
    &.selected .extract_desc {
      background: linear-gradient(90deg, $extract-color-selected 0%, $dark 100%);
    }
    &.selected .extract-select {
      display: none;
    }
    &.selected .extract-selected {
      display: flex;
    }
  }

  &-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $extract-color-unselect;
    width: 100%;
    height: 25vh;
    overflow: hidden;

    &::v-deep {
      a,
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    img {
      width: 120%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_desc {
    overflow-y: auto;
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 5px;
    height: 100%;
    background: linear-gradient(90deg, $extract-color-unselect 0%, $dark 100%);
    color: $light;
  }

  &-title {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 5px;
    font-size: 16px;
    font-weight: normal;

    @media screen and (min-width: 991px) {
      font-size: 24px;
    }

    span {
      width: 100%;
      overflow: hidden;
    }

    a {
      font-size: 12px;
      margin-left: 5px;
      color: $light;
    }
  }

  &-price {
    font-size: 16px;
    color: var(--program-color-primary);

    @media screen and (min-width: 991px) {
      font-size: 22px;
    }
  }

  &-select {
    justify-self: start;
    align-self: end;
    border: {
      width: 1px;
      style: solid;
      color: $light;
      radius: 10px;
    }
    font-size: 12px;
    color: $light;
    cursor: pointer;
  }
  &-selected {
    justify-self: start;
    align-self: end;
    font-size: 18px;
    color: $light;
    cursor: pointer;
  }

  // ORDER
  &-order {
    grid-area: order;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 $padding-side-mobile;
    border-radius: 16px;
    height: 100%;
    background-color: var(--program-color-primary);
    font-size: 20px;
    color: var(--program-color-colorful);

    @media screen and (min-width: 991px) {
      grid-area: order;
      justify-self: center;
      align-self: center;
      padding: 20px 20px;
      width: 30%;
      height: auto;
      font-size: 24px;
    }
  }

  // CUSTOM NAVBAR ------------------
  ::v-deep .sidebar {
    grid-area: navbar;

    @media screen and (min-width: 991px) {
      grid-area: navbar;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      justify-items: center;
      margin-top: 10vh;
      border: none;
      border-radius: 0;
      width: auto;
      height: 90vh;
      transform: translateX(0);
    }

    &_main {
      @media screen and (min-width: 991px) {
        flex-direction: column;
      }
    }

    &_socialList {
      @media screen and (min-width: 991px) {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
      }

    }

    &-socialItem {
      @media screen and (min-width: 991px) {
        margin-right: 0;
      }
    }

    &-phone {
      @media screen and (min-width: 991px) {
        border-left: none;
        border-top: {
          width: 1px;
          style: solid;
          color: $light;
        }
        padding-top: 10px;
        padding-left: 0;
      }
    }

    &_extract {
      @media screen and (min-width: 991px) {
        position: relative;
      }
    }

    &_langList {
      @media screen and (min-width: 991px) {
        position: absolute;
        top: 20px;
        right: -10px;
        padding: 10px;
        background-color: $light;
        transform: translate(100%, -100%);
      }
    }
  }

}
