.home {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1vh;
  width: 100vw;
  background-color: $bg-primary;

  @media screen and (min-width: 991px) {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  &-logo {
    font-size: 24px;
    text-align: center;
    color: #fff;

    @media screen and (min-width: 991px) {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
    }

    img {
      z-index: 2;
      height: 90%;

      @media screen and (min-width: 991px) {
        height: 20%;
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      display: flex;
      width: 100vw;
      height: 2px;
      background-color: #fff;
      transform: translateY(-50%);

      @media screen and (min-width: 991px) {
        content: '';
        width: 200vw;
        transform: translateX(-50%);
      }
    }

    &::after {
      @media screen and (min-width: 991px) {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        display: flex;
        width: 2px;
        height: 200vh;
        background-color: #fff;
        transform: translateY(-50%);
      }
    }
  }

  &_header {
    padding: 10px;
    width: 100%;
    text-align: center;
    color: $light;
    font-size: 12px;
    text-transform: uppercase;

    @media screen and (min-width: 991px) {
      position: absolute;
      top: 20px;
      left: 50%;
      z-index: 3;
      border: {
        width: 1px;
        style: solid;
        color: #fff;
        radius: 10px;
      }
      padding: .5em;
      width: 30%;
      height: auto;
      background-color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
      transform: translateX(-50%);
    }
  }

  &_shows {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $height-footer-mobile;

    @media screen and (min-width: 991px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: grid;
      grid-template-rows: repeat(2, 50vh);
      grid-template-columns: repeat(2, 50vw);
      margin-bottom: 0;
    }
  }

  &_show {
    width: 80%;
    height: 33vh;
    cursor: pointer;

    @media screen and (min-width: 991px) {
      width: 100%;
      height: 100%;
    }

    &_container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid red;
      width: 100%;
      height: 90%;
      overflow: hidden;
      transform: skewX(-18deg);

      @media screen and (min-width: 991px) {
        border: none;
        height: 100%;
        transform: skewX(0deg);
      }

      &:hover header {
        opacity: 1;
      }
    }

    &-img {
      width: 120%;
      height: 150%;
      object-fit: cover;
      transform: skewX(18deg);

      @media screen and (min-width: 991px) {
        width: 100%;
        height: 130%;
        transform: skewX(0deg);
        object-fit: contain;
      }
    }

    &_header {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: opacity .3s;

      @media screen and (min-width: 991px) {
        opacity: 0;
        align-items: center;
      }
    }

    &-title {
      padding: .5em 2em;
      background-color: rgba(0, 0, 0, .7);
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      font-family: 'Freshman', sans-serif;
      letter-spacing: 3px;

      @media screen and (min-width: 991px) {
        margin-top: 30px;
        border-radius: 10px;
        font-size: 32px;
      }
    }

  }
}
