.programs {
  display: grid;
  grid-template-rows: $height-header-mobile 15vh 25vh 10vh 22vh 8vh $height-footer-mobile;
  grid-template-areas: 'header' 'programs' 'video' 'gallery' 'about' 'select' 'navbar';
  grid-row-gap: 1vh;
  height: 100vh;
  background-color: $bg-primary;
  font-family: $font-family;

  @media screen and (min-width: 991px) {
    grid-template-columns: 5vw 15vw 30vw 30vw 20vw;
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-areas: 'header header header header programs'
												 'gallery gallery gallery gallery programs'
												 'video video about about select';
    grid-row-gap: 0;
  }

  $padding-side-mobile: 10px;

  // HEADER ------------------
  &_header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1em 1fr;
    align-items: center;
    padding: 0 $padding-side-mobile;
    color: $light;

    @media screen and (min-width: 991px) {
      grid-area: header;
      border-right: 1px solid var(--program-color-primary);
      border-bottom: 1px solid var(--program-color-primary);
    }

    &-program {
      display: none;
      justify-self: center;
      font-family: 'Freshman', sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;

      @media screen and (min-width: 991px) {
        display: block;
      }
    }
  }

  &-back {
    color: $light;
  }

  &-title {
    justify-self: end;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  // PROGRAMS LIST ------------------
  &_list {
    grid-area: programs;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: .5em;
    padding: 0 $padding-side-mobile;
    overflow-y: auto;

    @media screen and (min-width: 991px) {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 10px 20px;
    }

    &-title {
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: $light;
    }
  }

  &-item {
    width: 100%;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border: {
        width: 1px;
        style: solid;
        radius: 5px;
      }
      text-transform: uppercase;
      font-family: 'Freshman', sans-serif;
      letter-spacing: 3px;
      padding: 1em 0;

      @media screen and (min-width: 991px) {
        padding: 2em 0;
      }

      &.nuxt-link-active {
        background-color: var(--program-color-primary);
        color: var(--program-color-colorful) !important;
      }
    }
  }

  // VIDEO ------------------
  &-video {
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $padding-side-mobile;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 991px) {
      grid-area: video;
      padding: 0;
    }

    &::v-deep a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: {
        width: 1px;
        style: solid;
        color: var(--program-color-primary);
      }
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &::v-deep img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 120%;
      object-fit: contain;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      font-size: 42px;
      color: var(--program-color-primary);
    }
  }

  // GALLERY ------------------
  &_gallery {
    $gallery-selector: &;
    grid-area: gallery;
    padding: 0 $padding-side-mobile;

    @media screen and (min-width: 991px) {
      grid-area: gallery;
      border-right: 1px solid var(--program-color-primary);
      border-bottom: 1px solid var(--program-color-primary);
      padding: 0;
    }

    &_wrap {
      position: relative;
      display: grid;
      grid-template-columns: auto 1fr auto;
      justify-items: center;
      align-items: center;
      padding: 5px;
      width: 100%;
      height: 100%;
      overflow: hidden;

      @media screen and (min-width: 991px) {
        position: relative;
        grid-template-columns: 1fr;
        padding: 0;
      }

      &-arrow {
        position: absolute;
        font-size: 20px;
        color: $light;

        &:first-of-type {
          left: calc(#{$padding-side-mobile} + 30px);
        }
        &:last-of-type {
          right: calc(#{$padding-side-mobile} + 10px);
        }
      }
    }

    &_imageList {
      display: flex;
      padding: 0 5px;
      width: 100%;
      height: 100%;
      overflow: hidden;

      @media screen and (min-width: 991px) {
        flex-direction: column;
        padding: 0;
      }

      &::v-deep .silentbox-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32%;
        height: 100%;

        &:not(:first-child) {
          margin-left: 5px;

          @media screen and (min-width: 991px) {
            margin-left: 0;
          }
        }

        @media screen and (min-width: 991px) {
          width: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &_imageItem {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32%;
      height: 100%;

      &:not(:first-child) {
        margin-left: 5px;

        @media screen and (min-width: 991px) {
          margin-left: 0;
        }
      }

      @media screen and (min-width: 991px) {
        width: 100%;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-btn {
      color: var(--program-color-colorful);
      cursor: pointer;

      @media screen and (min-width: 991px) {
        position: absolute;
        bottom: 0;
        right: 10px;
        font-size: 48px;
      }

      &:first-child {
        @media screen and (min-width: 991px) {
          transform: translateX(-200%);
        }
      }
    }
  }

  // ABOUT ------------------
  &_about {
    grid-area: about;
    margin: $padding-side-mobile $padding-side-mobile 0 $padding-side-mobile;
    padding: 5px 10px;
    overflow: auto;
    background-color: $light;
    box-shadow: 0px -5px 2px rgba(255, 255, 255, 0.59);

    @media screen and (min-width: 991px) {
      border-top: 1px solid var(--program-color-primary);
      border-right: 1px solid var(--program-color-primary);
    }

    @media screen and (min-width: 991px) {
      grid-area: about;
      margin: 0;
      padding: 5px 20px;
      box-shadow: none;
    }

    &-title {
      font-size: 20px;
      font-weight: bold;
      text-transform: capitalize;
    }

    &-desc {
      margin-top: 5px;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  // BUTTON SELECT ------------------
  &-select {
    grid-area: select;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 $padding-side-mobile;
    border-radius: 6px;
    height: 100%;
    background-color: var(--program-color-primary);
    font-size: 26px;
    color: var(--program-color-colorful);

    @media screen and (min-width: 991px) {
      grid-area: select;
      align-self: center;
      margin: 10px 20px;
      padding: 1em 3em;
      height: auto;
    }
  }

  // CUSTOM NAVBAR ------------------
  ::v-deep .sidebar {
    grid-area: navbar;

    @media screen and (min-width: 991px) {
      grid-area: navbar;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      justify-items: center;
      margin-top: 10vh;
      border: none;
      border-radius: 0;
      width: auto;
      height: 70vh;
      transform: translateX(0);
    }

    &_main {
      @media screen and (min-width: 991px) {
        flex-direction: column;
      }
    }

    &_socialList {
      @media screen and (min-width: 991px) {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
      }

    }

    &-socialItem {
      @media screen and (min-width: 991px) {
        margin-right: 0;
      }
    }

    &-phone {
      @media screen and (min-width: 991px) {
        border-left: none;
        border-top: {
          width: 1px;
          style: solid;
          color: $light;
        }
        padding-top: 10px;
        padding-left: 0;
      }
    }

    &_extract {
      @media screen and (min-width: 991px) {
        position: relative;
      }
    }

    &_langList {
      @media screen and (min-width: 991px) {
        position: absolute;
        top: 20px;
        right: -10px;
        padding: 10px;
        background-color: $light;
        transform: translate(100%, -100%);
      }
    }
  }
}
