.order {
  position: relative;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: $height-header-mobile 85vh $height-footer-mobile;
  grid-template-areas: 'header' 'main' 'navbar';
  grid-row-gap: 1vh;
  height: 100vh;
  width: 100vw;
  background-color: $bg-primary;
  background-image: url('../../static/img/back2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: $font-family;

  @media screen and (min-width: 991px) {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 'header'
                         'section';
    grid-row-gap: 0;
    background-position: bottom;
    background-size: contain;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }

  $padding-side-mobile: 10px;

  &_header {
    position: relative;
    z-index: 3;
    grid-area: header;
    display: grid;
    grid-template-columns: 1em 1fr;
    align-items: center;
    padding: 0 $padding-side-mobile;
    color: $light;

    @media screen and (min-width: 991px) {
      grid-area: header;
    }

    &-back {
      color: $light;
    }

    &-title {
      justify-self: end;
      font-size: 24px;
    }
  }

  .WhowProgramIndividual {
    position: relative;
    z-index: 3;
    grid-area: main;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $padding-side-mobile;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;

    @media screen and (min-width: 991px) {
      grid-area: section;
      align-items: center;
      padding-bottom: 20vh;
    }

    &-title {
      font-size: 32px;
    }

    &_slider {
      margin-top: 50px;
      width: 80%;

      @media screen and (min-width: 991px) {
        width: 50vw;
      }

      &-img {
        width: 100%;
        object-fit: cover;
      }
    }

    &_about {
      margin-top: 20px;
      font-size: 18px;

      @media screen and (min-width: 991px) {
        width: 50vw;
      }
    }

    &_accordion {
      margin-top: 20px;

      @media screen and (min-width: 991px) {
        width: 50vw;
      }
    }
  }

  &_message {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
  }

  &-text {
    span {
      color: var(--program-color-primary);
    }

    [data-id="order_price"] {
      font-size: 22px;
    }
  }

  [data-id="inscription"], [data-id="pyrotechnics"] {
    display: none;
  }

  // CUSTOM NAVBAR ------------------
  ::v-deep .navbar {
    grid-area: navbar;

    @media screen and (min-width: 991px) {
      grid-area: navbar;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      justify-items: center;
      margin-top: 10vh;
      border: none;
      border-radius: 0;
      width: auto;
      height: 90vh;
      transform: translateX(0);
    }

    &_main {
      @media screen and (min-width: 991px) {
        flex-direction: column;
      }
    }

    &_socialList {
      @media screen and (min-width: 991px) {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
      }

    }

    &-socialItem {
      @media screen and (min-width: 991px) {
        margin-right: 0;
      }
    }

    &-phone {
      @media screen and (min-width: 991px) {
        border-left: none;
        border-top: {
          width: 1px;
          style: solid;
          color: $light;
        }
        padding-top: 10px;
        padding-left: 0;
      }
    }

    &_extract {
      @media screen and (min-width: 991px) {
        position: relative;
      }
    }

    &_langList {
      @media screen and (min-width: 991px) {
        position: absolute;
        top: 20px;
        right: -10px;
        padding: 10px;
        background-color: $light;
        transform: translate(100%, -100%);
      }
    }
  }

}
