.artists {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: $height-header-mobile 75vh 10vh $height-footer-mobile;
  grid-template-areas: 'header' 'packs' 'select' 'navbar';
  grid-row-gap: 1vh;
  height: 100vh;
  width: 100vw;
  background-color: $bg-primary;
  font-family: $font-family;

  @media screen and (min-width: 991px) {
    grid-template-columns: 5vw 45vw 25vw 25vw;
    grid-template-rows: 10vh 32vh 48vh 10vh;
    grid-template-areas: 'header header header header'
												 'avatar avatar video packs'
												 'avatar avatar desc packs'
												 'avatar avatar desc select';
    grid-row-gap: 0;
  }

  $padding-side-mobile: 10px;

  &_header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1em 1fr;
    align-items: center;
    padding: 0 $padding-side-mobile;
    color: $light;

    @media screen and (min-width: 991px) {
      grid-area: header;
      grid-template-columns: 1em 1fr auto;
      border-bottom: 1px solid var(--program-color-primary);
    }

    &-back {
      color: $light;
    }

    &-program {
      display: none;
      justify-self: center;
      font-family: 'Freshman', sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;

      @media screen and (min-width: 991px) {
        display: block;
      }
    }

    &-title {
      justify-self: end;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &-avatar {
    display: none;

    @media screen and (min-width: 991px) {
      grid-area: avatar;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }

  &-promo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: {
      width: 1px;
      style: solid;
      color: var(--program-color-primary);
    }
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::v-deep {
      a,
      img {
        width: 100%;
      }
    }

    @media screen and (min-width: 991px) {
      border-top: none;
      border-bottom: {
        width: 1px;
        style: solid;
        color: var(--program-color-primary);
      }
      border-right: {
        width: 1px;
        style: solid;
        color: var(--program-color-primary);
      }
      border-left: {
        width: 1px;
        style: solid;
        color: var(--program-color-primary);
      }
    }
  }

  &-desc {
    display: none;

    @media screen and (min-width: 991px) {
      grid-area: desc;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      text-align: center;
      color: #fff;
      overflow: auto;
      border-right: {
        width: 1px;
        style: solid;
        color: var(--program-color-primary);
      }
      border-left: {
        width: 1px;
        style: solid;
        color: var(--program-color-primary);
      }
    }
  }

  &-select {
    grid-area: select;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 1em 3em;
    height: auto;
    background-color: var(--program-color-primary);
    font-size: 32px;
    color: var(--program-color-colorful);

    @media screen and (min-width: 991px) {
      padding: 0;
    }
  }

  // ARTIST LIST
  &_list {
    grid-area: packs;
    margin-top: 20px;
    overflow: auto;

    @media screen and (min-width: 991px) {
      display: none;
    }

    &.desktop {
      display: none;

      @media screen and (min-width: 991px) {
        display: block;
        grid-area: packs;
        margin-top: 10px;
        padding: 0 10px;
      }
    }
  }

  &_item {
    padding: 10px;
    border: 1px solid;
    background: linear-gradient(90deg, var(--program-color-primary) 0%, $dark 100%);

    &.opened {
      height: auto;
      background: green;
    }

    &:not(:first-child) {
      margin-top: 5px;
    }

    &_main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      height: 100%;
      color: var(--program-color-colorful);
    }

    &-count {
      font-size: 18px;
    }

    &-price {
      justify-self: end;
      font-size: 24px;
    }

    &_extract {
      display: none;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, min-content);
      grid-template-areas: 'video video' 'desc btn';
      grid-column-gap: 5px;
      grid-row-gap: 10px;
      margin-top: 10px;
      width: 100%;
      color: var(--program-color-colorful);
    }

    &.opened &_extract {
      display: grid;
    }

    &-video {
      grid-area: video;
      position: relative;
      width: 100%;
      height: 100%;

      &::v-deep {
        a,
        img {
          width: 100%;
        }
      }


      img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        font-size: 16px;
        color: var(--program-color-primary);
      }
    }

    &-desc {
      grid-area: desc;
      overflow: auto;
      font-size: 16px;
    }

    &-select {
      grid-area: btn;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: var(--program-color-primary);
      font-size: 12px;
      color: var(--program-color-colorful);
    }
  }

  &_info {
    grid-area: info;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #444343;
    box-shadow: 20px 0 15px -20px #000 inset;
    color: #C4C4C4;

    @media screen and (min-width: 991px) {
      grid-area: info;
      flex-direction: row-reverse;
      padding-left: 10px;
    }

    &-program {
      margin-bottom: 2em;
      font-size: 18px;
      transform-origin: 50% 50%;
      transform: rotate(90deg);

      @media screen and (min-width: 991px) {
        margin-bottom: 0;
        margin-left: 10px;
        transform: rotate(0deg);
      }
    }

    &-show {
      margin-bottom: 10px;
      font-size: 22px;

      @media screen and (min-width: 991px) {
        margin-bottom: 0;
      }
    }
  }

  // CUSTOM NAVBAR ------------------
  ::v-deep .sidebar {
    grid-area: navbar;

    @media screen and (min-width: 991px) {
      grid-area: navbar;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      justify-items: center;
      margin-top: 10vh;
      border: none;
      border-radius: 0;
      width: auto;
      height: 90vh;
      transform: translateX(0);
    }

    &_main {
      @media screen and (min-width: 991px) {
        flex-direction: column;
      }
    }

    &_socialList {
      @media screen and (min-width: 991px) {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
      }

    }

    &-socialItem {
      @media screen and (min-width: 991px) {
        margin-right: 0;
      }
    }

    &-phone {
      @media screen and (min-width: 991px) {
        border-left: none;
        border-top: {
          width: 1px;
          style: solid;
          color: $light;
        }
        padding-top: 10px;
        padding-left: 0;
      }
    }

    &_extract {
      @media screen and (min-width: 991px) {
        position: relative;
      }
    }

    &_langList {
      @media screen and (min-width: 991px) {
        position: absolute;
        top: 20px;
        right: -10px;
        padding: 10px;
        background-color: $light;
        transform: translate(100%, -100%);
      }
    }
  }

}
