<i18n>
{
  "en": {
    "title": "Select program",
    "button-next-text": "Next"
  },
  "ru": {
    "title": "Выбор программы",
    "button-next-text": "Далее"
  },
  "uk": {
    "title": "Вибір програми",
    "button-next-text": "Далі"
  }
}
</i18n>

<template>
  <main class="programs">
    <header class="programs_header">
      <nuxt-link :to="localePath('index')" class="programs-back">
        <fa-icon :icon="['fas', 'chevron-left']" />
      </nuxt-link>
      <h2 v-if="currentProgram" class="programs_header-program">
        {{ currentProgram ? currentProgram.id_string : '' }}
      </h2>
      <h2 class="programs-title mobile">{{ $t('title') }}</h2>
    </header>
    <ul class="programs_list">
      <h2 class="programs_list-title desktop">{{ $t('title') }}</h2>
      <li v-for="(program, i) in allPrograms" :key="i" class="programs-item">
        <nuxt-link
          :to="
            localePath({
              name: 'show-program',
              params: {
                show: program.show.id_string,
                program: program.id_string,
              },
            })
          "
          class="programName"
          :style="`border-color: ${program.color.primary}; color: ${program.color.primary};`"
          >{{ program.name }}
        </nuxt-link>
      </li>
    </ul>

    <silent-box
      class="programs-video"
      :gallery="[{ src: currentProgram.promo_url }]"
    ></silent-box>

    <section class="programs_gallery">
      <div class="programs_gallery_wrap">
        <silent-box
          class="programs_gallery_imageList"
          :gallery="galleryForLightbox"
        ></silent-box>
        <button class="programs_gallery_wrap-arrow desktop">
          <fa-icon :icon="['fas', 'chevron-left']" />
        </button>
        <button class="programs_gallery_wrap-arrow desktop">
          <fa-icon :icon="['fas', 'chevron-right']" />
        </button>
      </div>
    </section>

    <section class="programs_about">
      <h1 class="programs_about-title">
        {{ currentProgram.name }}
      </h1>
      <block-par :text="currentProgram.about" />
    </section>

    <nuxt-link
      v-if="currentProgram"
      :to="
        localePath({
          name: 'show-program-variant',
          params: {
            show: currentProgram.show.id_string,
            program: currentProgram.id_string,
            variant: currentProgramVarinat.id_string,
          },
        })
      "
      class="programs-select"
      >{{ $t('button-next-text') }}
    </nuxt-link>

    <section-sidebar :contacts="contacts" />
  </main>
</template>

<script>
import mixinConstructor from '~/mixins/constructor'
import mixinColors from '~/mixins/colors'
export default {
  mixins: [mixinConstructor, mixinColors],
  async asyncData({ i18n, route, $axios }) {
    // region async data
    const allPrograms = await $axios.$get(
      `/api/show/${route.params.show}/programs`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )

    const currentProgram = await $axios.$get(
      `/api/show/${route.params.show}/programs/${route.params.program}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )

    const variants = await $axios.$get(
      `/api/show/${route.params.show}/programs/${route.params.program}/variants`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )
    console.dir(variants)
    const currentProgramVarinat = variants[0]
    // endregion

    return {
      allPrograms,
      currentProgram,
      currentProgramVarinat,
    }
  },
  head() {
    return {
      title: this.currentProgram.page_head
        ? this.currentProgram.page_head.title
        : '',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: this.currentProgram.page_head
            ? this.currentProgram.page_head.desc
            : '',
        },
      ],
    }
  },
  computed: {
    galleryForLightbox() {
      if (this.currentProgram.gallery_urls) {
        return this.currentProgram.gallery_urls.map((galleryUrl) => {
          return {
            src: galleryUrl,
          }
        })
      } else {
        return []
      }
    },
  },
}
</script>

<style src="assets/pages/programs.scss" lang="scss" scoped></style>
