<i18n>
{
  "en": {
    "title": "Select program",
    "button-next-text": "More"
  },
  "ru": {
    "title": "Выбор программы",
    "button-next-text": "Подробнее"
  },
  "uk": {
    "title": "Вибір програми",
    "button-next-text": "Далі"
  }
}
</i18n>

<template>
  <main class="order">
    <header class="order_header">
      <a class="order_header-back" @click="goBack"
        ><fa-icon :icon="['fas', 'chevron-left']"
      /></a>
      <h2 class="order_header-title"></h2>
    </header>

    <!-- TODO: 3. Добавление ссылок в тексте и параграфов. -->

    <section v-if="currentExtract" class="WhowProgramIndividual">
      <h1 class="WhowProgramIndividual-title">{{ currentExtract.title }}</h1>
      <div class="WhowProgramIndividual_slider">
        <VueSlickCarousel
          :arrows="true"
          :dots="false"
          :autoplay="true"
          :lazy-load="true"
        >
          <div v-for="(image, i) in currentExtract.gallery_urls" :key="i">
            <img
              :src="image"
              alt="image"
              class="WhowProgramIndividual_slider-img"
            />
          </div>
        </VueSlickCarousel>
      </div>
      <div class="WhowProgramIndividual_about">
        <block-par :text="currentExtract.about" />
      </div>
      <div class="WhowProgramIndividual_accordion">
        <block-accordion :list="questions" />
      </div>
      <form-order :form-data="formData" @submit="submit" />
    </section>

    <section-sidebar :contacts="contacts" :is-phone-icon="false" />
  </main>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  components: { VueSlickCarousel },
  async asyncData({ i18n, route, $axios }) {
    // region async data
    const contacts = await $axios.$get('/api/contacts')
    const currentExtract = await $axios.$get(
      `/api/extracts/individual/${route.params.program}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )
    // endregion

    return {
      contacts,
      currentExtract,
    }
  },
  data() {
    return {
      formData: {
        name: '',
        phone: '',
        email: '',
        address: '',
        date: '',
        time: '',
        comment: '',
      },
    }
  },
  computed: {
    questions() {
      const questionArray = this.currentExtract.questions.split('@')

      return questionArray.map((question, i) => {
        const questionText = question.split('?')[0]
        const answer = question.split('?')[1]

        return {
          id: i,
          title: `${questionText}?`,
          text: answer,
        }
      })
    },
  },
  // head() {
  //   return {
  //     title: this.currentShow.page_head.title,
  //     meta: [
  //       // hid is used as unique identifier. Do not use `vmid` for it as it will not work
  //       {
  //         hid: 'description',
  //         name: 'description',
  //         content: this.currentShow.page_head.desc,
  //       },
  //     ],
  //   }
  // },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
    async submit(formData) {
      const body = new FormData()
      body.append('price', this.resultPrice)
      for (const key in formData) {
        body.append(key, formData[key])
      }
      await this.$axios.$post('/api/send-mail', {
        data: body,
        headers: { 'Content-Type': 'multipart/form-data' },
      })
    },
  },
}
</script>

<style src="assets/pages/showProgramIndividual.scss" lang="scss" scoped></style>
