// Basic css classes
// -- programs
.mobile {
  @media screen and (min-width: 520px) {
    display: none !important;
  }
}

.desktop {
  @media screen and (max-width: 991px) {
    display: none !important;
  }
}
