// Basic css variable
:root {
  --program-color-primary: #cc0404;
  --program-color-secondary: #000;
  --program-color-colorful: #fff;
}

// Basic scss variable
$font-family: 'Roboto', sans-serif;

// Basic scss color
// -- font color
$light: #fff;
$dark: #000;

// -- background color
$bg-primary: #000;

// -- Block size
$height-header-mobile: 5vh;
$height-footer-mobile: 8vh;
