<template>
  <div>
    <h1 v-if="error.statusCode === 404">
      Page not found ({{ error.message }})
    </h1>
    <h1 v-else>An error occurred</h1>
    <nuxt-link :to="localePath('/')">Home page</nuxt-link>
  </div>
</template>

<script>
export default {
  layout: 'error',
  // eslint-disable-next-line vue/require-prop-types
  props: ['error'],
}
</script>

<style scoped></style>
