<template>
  <aside class="sidebar">
    <div class="sidebar_main">
      <ul class="sidebar_socialList">
        <li class="sidebar-socialItem">
          <a :href="contacts.instagram" target="_blank"
            ><fa-icon :icon="['fab', 'instagram']"
          /></a>
        </li>
        <li class="sidebar-socialItem">
          <a :href="contacts.facebook" target="_blank"
            ><fa-icon :icon="['fab', 'facebook-f']"
          /></a>
        </li>
      </ul>
      <div v-if="isPhoneIcon" class="sidebar_extract desktop">
        <span
          class="sidebar_extract-icon"
          :class="{ open: isPhoneListOpen }"
          @click="isPhoneListOpen = !isPhoneListOpen"
          ><fa-icon :icon="['fas', 'phone-alt']" />
        </span>
        <div class="sidebar_phoneList" :class="{ open: isPhoneListOpen }">
          <a
            v-for="(phone, i) in contacts.phones"
            :key="i"
            :href="`tel:${phone}`"
            class="sidebar-phoneItem"
            >{{ phone }}</a
          >
        </div>
      </div>
      <div v-else class="sidebar_extract_desktop desktop">
        <a
          v-for="(phone, i) in contacts.phones"
          :key="i"
          :href="`tel:${phone}`"
          class="sidebar-phone-full"
          >{{ phone }}</a
        >
      </div>
      <div class="sidebar_extract_desktop mobile">
        <a
          v-for="(phone, i) in contacts.phones"
          :key="i"
          :href="`tel:${phone}`"
          class="sidebar-phone-full"
          >{{ phone }}</a
        >
      </div>
    </div>
    <div class="sidebar_extract">
      <span
        class="sidebar_extract-icon"
        :class="{ open: isLangOpen }"
        @click="isLangOpen = !isLangOpen"
        ><fa-icon :icon="['fas', 'globe-americas']"
      /></span>
      <ul class="sidebar_langList" :class="{ open: isLangOpen }">
        <nuxt-link
          :to="switchLocalePath('en')"
          tag="li"
          class="sidebar-langItem"
          >en</nuxt-link
        >
        <nuxt-link
          :to="switchLocalePath('ru')"
          tag="li"
          class="sidebar-langItem"
          >ру</nuxt-link
        >
        <nuxt-link
          :to="switchLocalePath('uk')"
          tag="li"
          class="sidebar-langItem"
          >укр</nuxt-link
        >
      </ul>
    </div>
  </aside>
</template>

<script>
export default {
  props: {
    isPhoneIcon: {
      type: Boolean,
      required: false,
      default() {
        return true
      },
    },
    contacts: {
      type: Object,
      required: true,
      default() {
        return {
          phones: ['0999999999'],
          instagram: '#',
          facebook: '#',
        }
      },
    },
  },
  data() {
    return {
      isLangOpen: false,
      isPhoneListOpen: false,
    }
  },
}
</script>

<style lang="scss" scoped>
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 0.5em;
  padding: 10px;
  width: 100%;
  background-color: #000;
  color: $light;

  @media screen and (min-width: 991px) {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 999;
    border: {
      width: 1px;
      style: solid;
      color: #fff;
      radius: 10px;
    }
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-50%);
  }

  a {
    color: $light;
  }

  &_main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  &_socialList {
    display: flex;
    align-items: center;
  }

  &-socialItem {
    margin-right: 10px;
  }

  &-phone {
    border-left: {
      width: 1px;
      style: solid;
      color: $light;
    }
    padding-left: 10px;

    &-full {
      margin-right: 10px;
      font-size: 21px;
      font-weight: 700;
    }
  }

  &_extract {
    position: relative;

    &_desktop {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-right: 10px;
    }

    &-icon {
      cursor: pointer;
    }
  }

  &_langList {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
    background-color: $light;
    color: $dark;
    transform: translateY(-100%);

    &.open {
      display: block;
    }

    .sidebar-langItem {
      cursor: pointer;
    }
  }

  &_phoneList {
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 10px;
    background-color: $light;
    color: $dark;
    transform: translateY(-100%);

    &.open {
      display: block;
    }

    .sidebar-phoneItem {
      display: block;
      color: $dark;
    }
  }
}
</style>
