<i18n>
{
  "en": {
    "title": "Select the type of performance or service"
  },
  "ru": {
    "title": "Выберите тип шоу или услуги"
  },
  "uk": {
    "title": "Оберіть тип шоу або послуги"
  }
}
</i18n>

<template>
  <main class="home">
    <h1 class="home-logo mobile">FIRESHOW SCORPIUS</h1>

    <div class="home_header">{{ $t('title') }}</div>

    <div class="home-logo desktop">
      <img src="/logo-diamond.svg" alt="main-logo" />
    </div>

    <ul class="home_shows">
      <nuxt-link
        v-for="(show, i) in showTypes"
        :key="i"
        :to="
          localePath({
            name:
              show.id_string === 'additional' || show.id_string === 'piro'
                ? 'show'
                : 'show-program',
            params: {
              show: show.id_string,
              program: show.program.id_string,
            },
          })
        "
        tag="li"
        class="home_show"
      >
        <div class="home_show_container">
          <img :src="show.image_url" alt="show image" class="home_show-img" />
          <header class="home_show_header">
            <h2 class="home_show-title">{{ show.name }}</h2>
          </header>
        </div>
      </nuxt-link>
    </ul>
    <section-sidebar :is-phone-icon="false" :contacts="contacts" />
  </main>
</template>

<script>
import mixinConstructor from '~/mixins/constructor'
export default {
  mixins: [mixinConstructor],
  async asyncData({ i18n, $axios }) {
    const showTypes = await $axios.$get('/api/show/all', {
      params: {
        lang: i18n.localeProperties.code,
      },
    })

    return { showTypes }
  },
}
</script>

<style src="assets/pages/home.scss" lang="scss" scoped></style>
