<i18n>
{
  "en": {
    "title": "Select the type of performance or service"
  },
  "ru": {
    "title": "Выберите тип шоу или услуги"
  },
  "uk": {
    "title": "Оберіть тип шоу або послуги"
  }
}
</i18n>

<template>
  <main class="thanks">
    <video class="thanks-promo" autoplay loop playsinline>
      <source src="/media/banner.mp4" type="video/mp4" />
    </video>
    <div class="thanks_card">
      <h1 class="thanks_card-title">Спасибо за ваш заказ!</h1>
      <p class="thanks_card-desc">
        Мы скоро свяжемся с Вами... А пока вы можете посмотреть видосик или
        перейти на
        <nuxt-link to="/" class="thanks_card-link">главную</nuxt-link>
      </p>
    </div>
  </main>
</template>

<style lang="scss" scoped>
.thanks {
  &-promo {
    background-color: #000;
    width: 100vw;
    height: 100vh;
  }

  &_card {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 18px;
    transform: translateX(-50%);

    &-link {
      color: red;
    }
  }
}
</style>
