<i18n>
{
  "en": {
    "title": "Extracts",
    "currency": "uah"
  },
  "ru": {
    "title": "Дополнительные услуги",
    "currency": "грн"
  },
  "uk": {
    "title": "Додаткові послуги",
    "currency": "грн"
  }
}
</i18n>

<template>
  <main class="addition">
    <header class="addition_header">
      <a class="addition-back" @click="goBack">
        <fa-icon :icon="['fas', 'chevron-left']"
      /></a>
      <h2 class="addition-title">{{ $t('title') }}</h2>
    </header>

    <article class="addition_main">
      <img
        class="addition-avatar"
        :src="currentExtract.avatar_url"
        alt="Avatar for additional"
      />
      <div class="addition_title">
        <h1 class="addition-name">{{ currentExtract.name }}</h1>
        <p class="addition-price">
          {{ currentExtract.price }} {{ $t('currency') }}
        </p>
      </div>
      <p class="addition-desc">{{ currentExtract.about }}</p>
    </article>

    <section-sidebar :contacts="contacts" />
  </main>
</template>

<script>
export default {
  async asyncData({ i18n, route, $axios }) {
    // region async data
    const contacts = await $axios.$get('/api/contacts')
    const currentExtract = await $axios.$get(
      `/api/extracts/${route.params.extract}`,
      {
        params: {
          lang: i18n.localeProperties.code,
        },
      }
    )
    // endregion

    return {
      currentExtract,
      contacts,
    }
  },
  head() {
    return {
      title: this.currentExtract.page_head.title,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: this.currentExtract.page_head.desc,
        },
      ],
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
  },
}
</script>

<style src="assets/pages/extract.scss" lang="scss" scoped></style>
